* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    max-width: 100%;
    height: 100vh;
    background: linear-gradient(310deg, rgba(255,109,130,1) 0%, rgba(194,70,120,1) 100%);
}
.container {
    max-width: 960px;
    height: 100%;
    margin: 0 auto;
    display: grid;
    align-items: center;
}
.login {
    max-width: 100%;
    height: 550px;
    background-color: #fff;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: 550px;
    box-shadow: 0px 0px 25px rgba(154, 29, 68, .9);
}

.img-show img {
    width: 90%;
}
.login-right {
    grid-row: 1/2;
    grid-column: 5/8;
    display: grid;
    justify-content: center;
    align-items: center;
}
.login-form {
    width: 280px;
    line-height: 40px;
}
.header {
    text-align: center;
}
.login-form h5 {
    color: #B8BCC5;
    font-size: 2rem;
    font-weight: 400;
}
.login-form .input-form {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 20px 0;
    padding: 5px 0;
    border-bottom: 2px solid #E9EEF4;
    margin-top: 30px;
}
.icon {
    color: #B8BCC5;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.icon i {
    transition: .3s;
}
.form-group {
    position: relative;
    height: 40px;
    
}
.form-group h5 {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #B8BCC5;
    font-size: 18px;
    transition: .3s;
}
.input-form:before, .input-form:after {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #fdb056;
    transition: .4s;
}
.input-form:before {
    right: 50%;
}
.input-form:after {
    left: 50%;
}
.input-form.focus:before .input-form.focus:after {
    width: 50%;
}
.input-form.focus .form-group h5 {
    top: -10px;
    font-size: 15px;
}
.input-form.focus .icon i {
    color: #fdb056;
}
.form-group input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: .5rem .7rem;
    font-size: 1.2rem;
}
.forgot-password {
    text-align: right;
}
.forgot-password a {
    display: inline;
    text-align: right;
    text-decoration: none;
    color: #B8BCC5;
    font-size: .9rem;
    transition: .3s;
}

.btn input {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    background: linear-gradient(90deg, rgba(253,176,86,1) 0%, rgba(254,143,90,1) 100%);
    font-size: 1.2rem;
    color: #fff;
    margin: 1rem 0;
    cursor: pointer;
    margin-top: 30px;
    transition: .5s;
}
.btn input:hover {
    transform: scale(.95);
}



@media only screen and (max-width: 880px) {
    .container {
        max-width: 650px;
    }
    .login-left {
        display: none;
    }
    .login-right {
        grid-column: 1/8;
    }
}
@media only screen and (max-width: 580px) {
    .container {
        max-width: 100%;
    }
    .login {
        height: 100%;
        grid-template-rows: 100%;
        border-radius: 0px;
    }
}